SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=dogshop
DB_USER=admin
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_WHATSAPP=
ADMIN_PHONE=
